[access]
    inheritFrom = All-Projects
[access "refs/*"]
    owner = group coolkey-approvers
    owner = group user/mharmsen99
    label-Workflow = -1..+1 group coolkey-approvers
[access "refs/for/refs/*"]
    read = group coolkey-approvers
    read = group user/mharmsen99
    push = group coolkey-approvers
    push = group user/mharmsen99
    label-Code-Review = -2..+2 group coolkey-approvers
    label-Code-Review = -2..+2 group user/mharmsen99
    label-Verified = -1..+1 group coolkey-approvers
    label-Verified = -1..+1 group user/mharmsen99
    label-Workflow = -1..+1 group coolkey-approvers
    label-Workflow = -1..+1 group user/mharmsen99
    rebase = group coolkey-approvers
    rebase = group user/mharmsen99
    removeReviewer = group coolkey-approvers
    removeReviewer = group user/mharmsen99
    submit = group coolkey-approvers
    submit = group user/mharmsen99
[access "refs/heads/*"]
    read = group coolkey-approvers
    read = group user/mharmsen99
    create = group coolkey-approvers
    create = group user/mharmsen99
    push = group coolkey-approvers
    push = +force group user/mharmsen99
    pushMerge = group coolkey-approvers
    pushMerge = group user/mharmsen99
[access "refs/tags/*"]
    push = group coolkey-approvers
    push = group user/mharmsen99
    push = +force group user/mharmsen99
    label-Workflow = -1..+1 group coolkey-approvers
[access "refs/meta/*"]
    owner = group coolkey-approvers
    label-Verified = -1..+1 group coolkey-approvers
    label-Workflow = -1..+1 group coolkey-approvers
[label "Workflow"]
    function = MaxWithBlock
    value = -1 Work in Progress
    value =  0 Ready for Reviews
    value = +1 Ready to Merge
    defaultValue = 0
